# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
go/Algorithms4/.idea/modules.xml
go/Algorithms4/.idea/misc.xml
go/Algorithms4/.idea/workspace.xml
go/Algorithms4/.idea/Algorithms4.iml
go/Algorithms4/.idea/vcs.xml
node_modules
dist
.idea
